.mainBody {
  overflow: hidden;
  height: calc(100vh - 130px);
  width: 99.99%;
  border: 2px solid slategray;
}

:host ::ng-deep .mat-tab-label-active {
  font-family: Arial, sans-serif;
  font-size: 12px;
  height: 25px;
  width: 20px;
  font-weight: bold;
  background-color: #42646f;
  color: white;
  border: 1px solid gray;
}

:host ::ng-deep .mat-tab-label {
  font-family: Arial, sans-serif;
  font-size: 12px;
  height: 25px;
  width: 20px;
}
