<mat-tab-group class="rotate-stretched-tabs mat-elevation-z4" *ngIf="rotatePodLoaded && hasRotateData">
  <mat-tab [label]="uicpod['fullUIC']" *ngFor="let uicpod of ds.tabs[ftn_uic]['ROTATE']" class="rotateGrid">
    <app-rotategrid [uicData]="uicpod" class="rotateGrid"></app-rotategrid>
  </mat-tab>
</mat-tab-group>

<div *ngIf="!rotatePodLoaded" class="loading">
  {{ rotateInfoText }}
  <mat-spinner class="centerItem"></mat-spinner>
</div>

<div *ngIf="rotatePodLoaded && !hasRotateData" class="boldText">
  No Records Found
</div>
