<div id="notebody" *ngIf="hasData">
  <table style="width: 100%; height:100%">
    <tr class="borders"><td class="title">Situation</td><td>{{ podData.situation}}</td></tr>
    <tr><td class="title">Mission</td><td>{{ podData.mission}}</td></tr>
    <tr><td class="title">Capabilities</td><td>{{ podData.capabilities }}</td></tr>
    <tr><td class="title">Specialized Reqs</td><td>{{ podData.specializedRequirement }}</td></tr>
    <tr><td class="title">JRC Matrix Notes</td><td>&nbsp;</td></tr>
    <tr><td class="title">JRC Clarification Notes</td><td>{{ podData.bosMatrixNotes }}</td></tr>
    <tr><td class="title">AO Comments</td><td>&nbsp;</td></tr>
    <tr><td class="title">FTN Issues</td><td>&nbsp;</td></tr>
    <tr><td class="title">Nomenclature Description</td><td>{{ podData.nomenclatureDesc }}</td></tr>
    <tr><td class="title">Risk</td><td>{{ podData.riskName }}</td></tr>
    <tr><td class="title">Risk Justification</td><td>{{ podData.riskJustification }}</td></tr>
  </table>
</div>
<div *ngIf="!hasData" id="divNoRecords">
  No rows were returned.
</div>
