<ag-grid-angular #mobAgGrid *ngIf="samasTabLoaded && !samasNoRecords && !samasTimeout"
                 style="width: 100%; height: 690px;" class="ag-theme-alpine"
                 [defaultColDef]="ds.defaultColDef"
                 [rowData]="ds.tabs[ftn_uic]['SAMAS']"
                 [columnDefs]="ds.columnDefinitions['samas']"
                 [headerHeight]="ds.defaultHeaderHt"
                 [rowHeight]="ds.defaultRowHt"
                 [animateRows]="true">
</ag-grid-angular>

<div *ngIf="samasTabLoaded && samasNoRecords && !samasTimeout" class="boldText">
  No SAMAS Data Found
</div>

<div *ngIf="!samasTabLoaded && !samasTimeout" class="loading">
  Stand-by, Loading SAMAS Data!
  <mat-spinner class="centerItem"></mat-spinner>
</div>

<div *ngIf="samasTimeout && samasTabLoaded" class="boldText">
  Execution Timeout Expired.  The timeout period elapsed prior to completion of the operation or the server is not responding.
</div>
